.personalInfo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 15px;
  text-align: center;
  width: max-content;
}
.personalInfo h1{
  color: var(--purple-color);
  font-size: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  border-bottom: 5px solid var(--purple-color);
  border-top: 5px solid var(--purple-color);
}
.personalInfoPara{
  color: var(--Black-color);
  font-size: 40px;
  font-weight: 800;
  font-family: "Edu NSW ACT Foundation", cursive;
}
.introduction {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-color);
}
#hand{
  margin-top: 10px;
  font-size: 40px;
  color: var(--purple-color);
  transition: transform 1s ease;
}
/* =================================== Responsive ============================== */
@media (max-width: 992px) {
  .personalInfoPara {
    font-size: 36px;
  }
  .personalInfo h1 {
    font-size: 60px;
  }
  .introduction {
    font-size: 16px;
  }
}  
@media (max-width: 600px) {
  .introduction {
    font-size: 18px;
  }
  .personalInfo{
    gap: 5px;
  }  
  .personalInfoPara {
    font-size: 24px;
  }
  .personalInfo h1 {
    font-size: 40px;
  } 
}

