.hero{
    max-width: 100vw;
    display: flex;
    height: 100vh;
    position: relative
}
/* =================================== Responsive ============================== */
@media (max-width: 600px) {
  .hero{
      flex-direction: column;
      align-items: center;
      height: 85vh;
      gap: 50px;
      padding: 50px 0;
    }
}