.achievement_swiper{
    margin: 0 auto;
}
.achievements .swiper{
    width: 450px;
}
.achievements .card{
    border: 5px solid var(--purple-color);
}
.achievements .card-text{
    color:#50446a !important;
}
/* ==================== Responsive ========================== */
@media (max-width: 600px){
    .achievements .swiper{
        width: 300px;
    }
}