.personalImg img{
  border: 4px solid var(--purple-color);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 7px;
  box-shadow: 0 7px 10px #999;
}
/* =================================== Responsive ============================== */
@media (max-width:600px){
  .personalImg {
    width: 200px;
    margin-top: 34px;
  }
  .personalImg img{
    width: 100%;
  }
}