.projects{
    padding: 60px 0;
}
.projects .swiper-horizontal{
    padding: 0 68px;
}
.projects .swiper-button-prev,.projects .swiper-button-next,
.projects .swiper-button-prev::after,.projects .swiper-button-next::after{
    background: var(--purple-color);
    font-size: 15px !important;
    color: var(--White-color) !important;
    height: 50px !important;
    width: 50px !important;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding: 10px 17px;
    border: 1px solid var(--purple-color);
    font-weight: 800;   
}  
@media (max-width: 1100px){
    
    .projects .swiper-horizontal{
        padding:0;
    }
    .projects .projectCard{
        margin: 0 auto;
    } 
    .projects .swiper-button-prev,.projects .swiper-button-next{
        top: 30px !important;
    }
    .projects .swiper-button-prev{
        left:  35% !important;
    }
    .projects .swiper-button-next{
        left:  55% !important;
    } 
    .projects .positonRelative{
        position: relative;
        padding-top: 70px;  
    }   
    .projects .swiper{
        position: static !important;   
    } 
}
