.projects{
    padding: 60px 0 ;
}
.swiper-button-prev, .swiper-button-next,
 .swiper-button-prev::after, .swiper-button-next::after{
    background: var(--purple-color);
    font-size: 15px !important;
    color: var(--White-color) !important;
    height: 50px !important;
    width: 50px !important;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding: 10px 17px;
    border: 1px solid var(--purple-color);
    font-weight: 800;   
}  

@media (max-width: 1100px)
{
    .projects .projectCard{
            margin: 0 auto;
        } 
}
@media (max-width: 800px){
   .swiper-horizontal{
        padding-top: 70px !important;
       
    } 
       
   
}
