.projectsDetails .projectDescription  h3{
    font-size: 20px;
    color: var(--purple-color);
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
}
.projectsDetails .projectDescription p{
    font-size: 18px;  
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    margin-top: 3px;
    line-height: 30px;
}
.projectDescription .flex{
    display: flex;
    gap: 12px;
}
.projectImg img{
    width: 100%;
}
.projectDescription{
    gap: 40px;
    padding: 15px 30px;
}
.projectLinks{
    gap: 100px;
    border-top: 2px solid #c0c0c042;
    padding-top: 30px;
}
.projectLinks img {
    width: 40px;
    height: 40px;
}
    /* ========================================= Responnsive ====================================== */
@media (max-width:992px){
    .projectsDetails .projectDescription h3 {
        font-size: 18px;
    }
    .projectsDetails .projectDescription p {
        font-size: 16px;
    }
    .projectLinks {
        gap: 75px;
        padding-top: 30px;
    }
}
@media (max-width:768px){
    .projectDescription {
        gap: 25px;
        padding: 15px 0;
    }    
    .projectsDetails .projectDescription p {
        margin-left: 10px;
    }
    .projectLinks {
        gap: 60px;
        padding-top: 20px;
    }  
}
@media (max-width:500px){
    .projectDescription {
        padding: 15px;
    }
    .projectDescription {
        gap: 12px;
      }
    .projectDescription .flex {
        flex-direction: column;
        gap: 6px;
    }  
    .projectsDetails .projectDescription h3 {
        font-size: 15px;
    }
    .projectsDetails .projectDescription p {
        margin-left: 17px;
    }
    .projectsDetails .projectDescription p {
       font-size: 15px;
    }
}